//============================================
// サイト幅でセンタリング
//============================================
@mixin center{
	width: $baseWidth;
	margin: 0 auto;
}

@mixin center2{
	width: $baseWidth2;
	margin: 0 auto;
}


//============================================
// clearfix
//============================================
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

//============================================
// フォント
//============================================
@mixin mincyo() {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@mixin notosans(){
	 font-family: 'Noto Sans Japanese', sans-serif;
}

//============================================
// breakpoint
//============================================
@mixin sp{
 	@media screen and (max-width: #{$breakpoint1}) {
    @content;
 	}
}
//============================================
// 
//============================================
.only-pc{
    display: block;
    @include sp{
        display: none;
    }
}
.only-sp{
    display: none;
    @include sp{
        display: block;
    }
}
