/*------------------------------------------------------------
	index
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-index .p-note {
  background: url(/assets/image/index/bulletin-board.png) no-repeat;
  width: 588px;
  height: 917px;
  position: absolute;
  z-index: 0;
  top: 600px;
  color: #fff;
}

@media screen and (max-width: 767) {
  .p-index .p-note {
    width: 100%;
    height: auto;
    background: #33c49d;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    position: relative;
    top: 0;
    padding: 30px 20px;
    text-align: center;
  }
  .p-index .p-note:before {
    content: "";
    position: absolute;
    background: url(/assets/image/index/bulletin-board_sp01.png) left no-repeat;
    width: 100%;
    height: 40px;
    left: 0;
    top: -40px;
    display: block;
    -webkit-background-size: 100% 40px;
            background-size: 100% 40px;
  }
  .p-index .p-note:after {
    content: "";
    position: absolute;
    background: url(/assets/image/index/bulletin-board_sp02.png) right no-repeat;
    width: 100%;
    height: 40px;
    right: 0;
    bottom: -40px;
    display: block;
    -webkit-background-size: 100% 40px;
            background-size: 100% 40px;
  }
}

.p-index .p-note__title {
  font-size: 6rem;
  padding: 115px 0 0 55px;
  font-weight: bold;
}

@media screen and (max-width: 767) {
  .p-index .p-note__title {
    font-size: 3rem;
    padding: 0;
  }
}

.p-index .p-note__cont {
  margin-top: -5px;
}

.p-index .p-note__cont p {
  font-size: 3rem;
  position: relative;
  padding-left: 130px;
}

.p-index .p-note__cont p:before {
  content: '';
  background: url(/assets/image/index/loa.png) no-repeat;
  width: 34px;
  height: 30px;
  position: absolute;
  top: 10px;
  margin-left: -50px;
}

@media screen and (max-width: 767) {
  .p-index .p-note__cont {
    margin-top: 0;
  }
  .p-index .p-note__cont p {
    font-size: 1.6rem;
    padding: 10px;
  }
}

.p-index .p-index01 {
  background: url(/assets/image/index/bg01.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 130px;
}

@media screen and (max-width: 767) {
  .p-index .p-index01 {
    height: auto;
    padding-bottom: 50px;
  }
}

.p-index .p-index01__cont {
  margin-top: 100px;
  display: inline-block;
}

@media screen and (max-width: 767) {
  .p-index .p-index01__cont {
    width: 100%;
    display: flow-root;
    margin-top: 0;
    padding-top: 50px;
  }
}

.p-index .p-index01__cont .c-box01 img, .p-index .p-index01__cont .c-box02 img, .p-index .p-index01__cont .c-box03 img {
  width: 100%;
}

.p-index .p-index01__cont .c-box02 {
  width: calc(50% - 5px);
  margin-right: 10px;
  float: left;
}

.p-index .p-index01__cont .c-box03 {
  width: calc(50% - 5px);
  float: right;
}

.p-index .p-index01__btn {
  margin-top: 35px;
  text-align: center;
  z-index: 999;
  position: relative;
}

.p-index .p-index01__btn a {
  width: 480px;
  line-height: 80px;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  background: #ff1e5b;
  display: inline-block;
  border-radius: 50px;
}

@media screen and (max-width: 767) {
  .p-index .p-index01__btn a {
    width: 100%;
    font-size: 1.2rem;
    line-height: 50px;
  }
}

.p-index .p-index01__btn a:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 38px 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767) {
  .p-index .p-index01__btn a:before {
    margin: 0 17px 0 0;
  }
}

.p-index .p-index01__btn a:hover {
  background: #ff5684;
}

.p-index .p-index02 {
  padding: 120px 0 200px 0;
  background: url(/assets/image/index/bg04.png) no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 767) {
  .p-index .p-index02 {
    padding: 50px 0 70px 0;
    background: url(/assets/image/index/bg04_sp.png) no-repeat;
    background-position: bottom left;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
  .p-index .p-index02 .c-title01 img {
    max-width: 50%;
  }
  .p-index .p-index02 .l-container {
    padding: 0;
  }
}

.p-index .p-index02__ttl {
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #10222b;
  padding-top: 10px;
}

@media screen and (max-width: 767) {
  .p-index .p-index02__ttl {
    height: auto;
    font-size: 1.6rem;
    padding: 10px 0;
  }
}

.p-index .p-index02__cont {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-top: none;
  margin-bottom: 40px;
}

@media screen and (max-width: 767) {
  .p-index .p-index02__cont {
    border: none;
    margin-bottom: 0;
  }
}

.p-index .p-index02__cont--img {
  width: 1070px;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index .p-index02__cont--img .u-lf {
  padding-right: 80px;
}

@media screen and (max-width: 767) {
  .p-index .p-index02__cont--img {
    width: 100%;
    margin: 0;
    display: table;
    text-align: center;
    padding: 20px 20px 30px 20px;
  }
  .p-index .p-index02__cont--img .u-lf {
    padding-right: 15px;
  }
  .p-index .p-index02__cont--img .img-item {
    width: 50%;
    display: inline-block;
  }
}

.p-index .p-index02__tbl table {
  width: 100%;
  color: #3c3c3c;
  font-weight: 500;
}

.p-index .p-index02__tbl table, .p-index .p-index02__tbl th, .p-index .p-index02__tbl td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.p-index .p-index02__tbl th, .p-index .p-index02__tbl td {
  width: 280px;
  padding: 12px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 24px;
}

.p-index .p-index02__tbl th:nth-child(1), .p-index .p-index02__tbl td:nth-child(1) {
  width: 590px;
  padding: 10px 0 10px 30px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  text-align: left;
}

.p-index .p-index02__tbl table tr:nth-child(even) {
  background-color: #fff;
}

.p-index .p-index02__tbl table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.p-index .p-index02__tbl table th {
  padding: 11px 0;
  background-color: #dddddd;
}

.p-index .p-index02 .p02-accodition {
  width: 100%;
}

.p-index .p-index02 .p02-accodition__item {
  color: #3c3c3c;
}

.p-index .p-index02 .p02-accodition__button {
  width: 100%;
  background: none;
  cursor: pointer;
  padding: 15px 40px 15px 20px;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.p-index .p-index02 .p02-accodition__button:after {
  content: '\002B';
  font-weight: normal;
  color: #0080ae;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-index .p-index02 .p02-accodition__button span {
  color: #999999;
  padding-left: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
}

.p-index .p-index02 .p02-accodition .p02-accodition-active:after {
  content: "\2212";
}

.p-index .p-index02 .p02-accodition__panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 1.2rem;
}

.p-index .p-index02 .p02-accodition__panel .ac-row {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  display: table;
}

.p-index .p-index02 .p02-accodition__panel .ac-row:last-child {
  border-bottom: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition__panel .ac-row .ac-row__left {
  width: 46.42%;
  padding: 10px;
  font-weight: bold;
  background: #fbfbfb;
  display: table-cell;
  border-right: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition__panel .ac-row .ac-row__right {
  display: table-cell;
  padding: 10px;
}

.p-index .p-index02 .p02-accodition .p02-acodition-show {
  opacity: 1;
  max-height: 100%;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition .p02-acodition-hide {
  opacity: 0;
  max-height: 0;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  padding: 0;
}

.p-index .p-index02__txt {
  padding-top: 24px;
  font-size: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.p-index .p-index02__txt--greem {
  background: #33c49d;
  color: #fff;
  padding: 4px 15px 4px 20px;
  margin: -5px 13px 0 0;
}

.p-index .p-index02__txt--blue {
  background: #0080ae;
  color: #fff;
  padding: 4px 15px 4px 20px;
  margin: -5px 18px 0 20px;
}

@media screen and (max-width: 767) {
  .p-index .p-index02__txt {
    display: block;
    font-size: 1.2rem;
    padding: 17px 20px;
  }
  .p-index .p-index02__txt--greem, .p-index .p-index02__txt--blue {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
  }
  .p-index .p-index02__txt .text {
    padding: 10px;
  }
}

.p-index .p-index02 .u-red {
  color: #ff1e5b;
}

.p-index .p-index02 .u-strikethrough {
  position: relative;
  display: inline-block;
}

.p-index .p-index02 .u-strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: #ff1e5b;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.p-index .p-index03 {
  background: url(/assets/image/index/bg03.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 561px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767) {
  .p-index .p-index03 {
    background: url(/assets/image/index/bg03_sp.png) top center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
  }
}

.p-index .p-index03__txt01 {
  font-size: 3.2rem;
  padding-top: 90px;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__txt01 {
    font-size: 1.6rem;
    padding-top: 51px;
  }
}

.p-index .p-index03__txt02 {
  font-size: 6.4rem;
}

.p-index .p-index03__txt02 span {
  font-size: 4.8rem;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__txt02 {
    font-size: 3.5rem;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
  }
  .p-index .p-index03__txt02 span {
    font-size: 2.8rem;
  }
}

.p-index .p-index03__txt03 {
  font-size: 1.8rem;
  line-height: 27px;
  padding-top: 32px;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__txt03 {
    padding-top: 15px;
  }
}

.p-index .p-index03__grbtn {
  width: 890px;
  margin: 23px auto 0;
  overflow: hidden;
}

.p-index .p-index03__grbtn .col2 {
  display: -ms-inline-grid;
  display: inline-grid;
  margin-left: 35px;
}

.p-index .p-index03__grbtn a {
  width: 425px;
  text-align: center;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #706e5e;
  opacity: 0.8;
}

.p-index .p-index03__grbtn a:hover {
  color: #000;
  background: #fff;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__grbtn {
    width: 100%;
  }
  .p-index .p-index03__grbtn a {
    width: 98%;
  }
  .p-index .p-index03__grbtn .col2 {
    width: 98%;
    margin: 10px auto 0;
  }
}

.p-index .p-index03__btn01 {
  width: 425px;
  float: left;
  font-size: 2.1rem;
  line-height: 90px;
  position: relative;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn01 {
    width: 95% !important;
    font-size: 1.4rem;
    line-height: 50px;
    padding-left: 10px;
  }
}

.p-index .p-index03__btn01:before {
  position: absolute;
  content: "";
  background: url(/assets/image/index/icon01.png) no-repeat;
  width: 19px;
  height: 20px;
  top: 40%;
  margin-left: -30px;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn01:before {
    top: 32%;
    -webkit-background-size: 80% 80%;
            background-size: 80%;
    margin-left: -20px;
  }
}

.p-index .p-index03 .p-index03__btn01:hover:before {
  background: url(/assets/image/index/icon01_hover.png) no-repeat;
}

.p-index .p-index03__btn02 {
  padding: 18px 0 12px 0;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn02 {
    padding: 9px 0 6px 0;
  }
}

.p-index .p-index03__btn02 .btnText {
  font-size: 1.5rem;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn02 .btnText {
    font-size: 1.4rem;
  }
}

.p-index .p-index03__btn02 .btnNum {
  font-size: 2.7rem;
  font-weight: 500;
  margin: -5px 0 0 30px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn02 .btnNum {
    font-size: 1.3rem;
    margin: 0 0 0 10px;
  }
}

.p-index .p-index03__btn02 .btnNum:before {
  position: absolute;
  content: "";
  background: url(/assets/image/index/icon02.png) no-repeat;
  width: 19px;
  height: 19px;
  top: 30%;
  margin-left: -27px;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__btn02 .btnNum:before {
    top: 10%;
    -webkit-background-size: 80% 80%;
            background-size: 80%;
    margin-left: -20px;
  }
}

.p-index .p-index03__btn02 .btnNum:hover:before {
  background: url(/assets/image/index/icon02_hover.png) no-repeat;
}

.p-index .p-index03__txt04 {
  font-size: 1.3rem;
  display: inline-block;
  padding-top: 15px;
}

@media screen and (max-width: 767) {
  .p-index .p-index03__txt04 {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 45px;
  }
}

.p-index .p-index04 {
  padding: 118px 0 110px 0;
  background: url(/assets/image/index/bg05.png) no-repeat;
  background-position: top left;
}

@media screen and (max-width: 767) {
  .p-index .p-index04 {
    padding: 60px 0 54px 0;
    background: url(/assets/image/index/bg05_sp.png) no-repeat;
    background-position: top right;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
}

.p-index .p-index04__block {
  width: 1005px;
  margin: 0 auto 120px;
  padding: 30px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.p-index .p-index04__block .colLeft {
  width: 272px;
  float: left;
  display: inline-block;
}

.p-index .p-index04__block .colRight {
  padding-left: 30px;
  color: #3c3c3c;
  display: table;
}

.p-index .p-index04__block .colRight__txt01 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 5px;
}

.p-index .p-index04__block .colRight__txt02 {
  font-size: 1.5rem;
  line-height: 22px;
  padding: 10px 0 16px 0;
}

.p-index .p-index04__block .colRight__list {
  background: #f0f0f0;
  padding: 20px 30px 25px 28px;
}

.p-index .p-index04__block .colRight__list li {
  list-style: disc;
  list-style-position: inside;
  color: #33c49d;
  font-size: 2rem;
}

.p-index .p-index04__block .colRight__list li span {
  color: #3c3c3c;
  margin-left: -10px;
  font-size: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767) {
  .p-index .p-index04__block {
    width: 100%;
    padding: 15px;
    margin: 0 auto 50px;
  }
  .p-index .p-index04__block .colLeft {
    width: 100%;
    float: none;
    text-align: center;
  }
  .p-index .p-index04__block .colRight {
    padding: 0;
    display: block;
  }
  .p-index .p-index04__block .colRight__txt01 {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 17px;
  }
  .p-index .p-index04__block .colRight__txt02 {
    font-size: 1.2rem;
    padding: 14px 0 30px 0;
  }
  .p-index .p-index04__block .colRight__list {
    width: 100%;
    padding: 15px 25px;
  }
  .p-index .p-index04__block .colRight__list li span {
    display: inline;
    font-size: 1.2rem;
  }
}

.p-index .p-index04__slide .slider-nav img {
  width: 270px;
  height: 205px;
  margin-right: 20px;
}

.p-index .p-index04__cont {
  width: 100%;
  overflow: hidden;
}

.p-index .p-index04__cont .p04-imgList {
  width: calc(50% - 10px);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.p-index .p-index04__cont .p04-imgList:nth-child(2n) {
  margin-right: 0;
}

.p-index .p-index04__cont .p04-imgList img {
  width: 100%;
}

.p-index .p-index05 {
  overflow: hidden;
  padding-bottom: 110px;
}

@media screen and (max-width: 767) {
  .p-index .p-index05 {
    padding: 0 20px 40px;
  }
}

.p-index .p-index05__title {
  font-size: 56px;
}

@media screen and (max-width: 767) {
  .p-index .p-index05__title {
    font-size: 28px;
    text-align: center;
  }
}

.p-index .p-index05__map {
  padding-top: 25px;
  float: left;
}

.p-index .p-index05__map iframe {
  width: 1100px;
  height: 480px;
}

@media screen and (max-width: 767) {
  .p-index .p-index05__map {
    float: none;
  }
  .p-index .p-index05__map iframe {
    width: 100%;
    height: 240px;
  }
}

.p-index .p-index05__infor {
  width: 780px;
  height: 420px;
  background: #10222b;
  color: #fff;
  float: right;
  margin-top: -55px;
  padding: 90px 0 0 60px;
}

@media screen and (max-width: 767) {
  .p-index .p-index05__infor {
    width: 100%;
    height: auto;
    margin-top: 0;
    float: none;
    padding: 18px 14px;
  }
}

.p-index .p-index05__infor .infor-item {
  width: 480px;
  display: table;
  font-size: 1.5rem;
  padding: 7px 0;
  border-bottom: 1px solid #636f75;
}

.p-index .p-index05__infor .infor-item__left {
  width: 170px;
  display: table-cell;
}

.p-index .p-index05__infor .infor-item__left img {
  margin: 4px 7px 0 0;
}

@media screen and (max-width: 767) {
  .p-index .p-index05__infor .infor-item {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: block;
  }
  .p-index .p-index05__infor .infor-item:nth-child(5) {
    border-bottom: none;
  }
  .p-index .p-index05__infor .infor-item__left {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
  .p-index .p-index05__infor .infor-item__left img {
    display: none;
  }
  .p-index .p-index05__infor .infor-item__right {
    font-size: 1.2rem;
  }
}

.p-index .p-index05__bg {
  z-index: -1;
  position: relative;
  top: -286px;
  left: -125px;
}

.p-index .p-index06 {
  background: #eeeeee;
  text-align: center;
  padding: 78px 0 85px 0;
}

@media screen and (max-width: 767) {
  .p-index .p-index06 {
    padding: 40px 0 35px 0;
  }
}

.p-index .p-index06__title01 {
  color: #310222;
  font-size: 6.4rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__title01 {
    font-size: 3.5rem;
  }
}

.p-index .p-index06__title02 {
  color: #666666;
  font-size: 3.2rem;
  color: #666666;
  margin-top: -8px;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__title02 {
    font-size: 1.6rem;
  }
}

.p-index .p-index06__cont {
  margin-top: 32px;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__cont {
    margin-top: 8px;
  }
}

.p-index .p-index06__cont .infor-item {
  width: 580px;
  margin: 0 auto;
  padding: 10px 0;
  display: table;
  font-size: 1.5rem;
  text-align: left;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__cont .infor-item {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    line-height: 20px;
  }
}

.p-index .p-index06__cont .infor-item__date {
  width: 115px;
  display: table-cell;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__cont .infor-item__date {
    width: 100%;
    display: block;
  }
}

.p-index .p-index06__cont .infor-item__ttl a {
  display: table-cell;
  color: #404040;
}

@media screen and (max-width: 767) {
  .p-index .p-index06__cont .infor-item__ttl a {
    display: block;
  }
}
