@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.only-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

.only-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__ {
  opacity: 0.3 !important;
  font-size: 5px !important;
  line-height: 100% !important;
  padding: 0 5px 0 5px !important;
  border-radius: 0 !important;
}

.c-dev-title1 {
  background: #000;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 15px;
  font-size: 1.6rem;
  margin: 60px 0 20px 0;
}

.c-dev-title2 {
  background: #888;
  color: #FFF;
  line-height: 1;
  padding: 6px 0 6px 30px;
  font-size: 1.3rem;
  margin: 50px 0 10px 0;
}

.c-dev-message1 {
  top: 0;
  left: 0;
  background: #F00;
  color: #FFF;
  z-index: 9999;
  position: fixed;
  line-height: 1;
  padding: 3px 6px;
  opacity: 0.6;
  font-size: 8px;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-headerPC__MV {
  background: url(/assets/image/common/MV.png);
  -webkit-background-size: cover;
          background-size: cover;
  height: 800px;
}

@media screen and (max-width: 767px) {
  .c-headerPC__MV {
    background: url(/assets/image/common/MV_sp.png) no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
  }
}

.c-headerPC__banner--01 {
  padding: 230px 110px 0 0;
  text-align: right;
}

.c-headerPC__banner--02 {
  padding-bottom: 207.5px;
}

.c-headerPC__banner--02 img {
  width: 100%;
}

.c-headerPC__banner--03 {
  padding: 0 20px 50px 20px;
}

.c-headerPC__banner--03 img {
  width: 100%;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-footer {
  position: relative;
}

.c-footer .c-footer01 {
  text-align: center;
  background: #33c49d;
  padding: 50px 0 55px 0;
}

@media screen and (max-width: 767px) {
  .c-footer .c-footer01 {
    padding: 30px 20px;
  }
}

.c-footer .c-footer01__img:hover {
  opacity: 0.8;
}

.c-footer .c-footer01__infor {
  color: #fff;
  font-size: 1.5rem;
  line-height: 24px;
  padding-top: 25px;
}

@media screen and (max-width: 767px) {
  .c-footer .c-footer01__infor {
    font-size: 1.2rem;
    line-height: 20px;
  }
}

.c-footer .c-footer02 {
  line-height: 40px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  background: #3c3c3c;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .c-footer .c-footer02 {
    font-size: 1rem;
    line-height: 30px;
  }
}

.c-footer .page-top {
  background: url(/assets/image/common/croll-top.png) no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 107px;
  right: 80px;
}

@media screen and (max-width: 767px) {
  .c-footer .page-top {
    background: url(/assets/image/common/croll-top_sp.png) no-repeat;
    width: 50px;
    height: 50px;
    bottom: 32px;
    right: 20px;
  }
}

/*------------------------------------------------------------
side
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.l-container {
  width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 20px;
  }
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*------------------------------------------------------------
title
------------------------------------------------------------*/
/* TITLE PAGE-TOP
------------------------------------------------------------*/
.c-title01 {
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .c-title01 {
    padding-bottom: 25px;
  }
  .c-title01 img {
    width: 80%;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-nav {
  overflow: hidden;
}

.c-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  line-height: 96px;
  padding-right: 10px;
}

.c-nav ul li a {
  font-size: 1.8rem;
  color: #3c3c3c;
  cursor: pointer;
  padding: 20px 35px;
  position: relative;
}

.c-nav ul li a:before {
  content: "";
  background: url(/assets/image/common/narrow_down.png);
  width: 15px;
  height: 9px;
  position: absolute;
  left: 11px;
  top: 45%;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*c-box page index
------------------------------------------------------------*/
.c-box {
  float: left;
  width: 461px;
  height: 360px;
  background: #fff;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #c8c8c8 inset;
          box-shadow: 0 0 0 1px #c8c8c8 inset;
  position: relative;
  margin-right: 28px;
  color: #3c3c3c;
}

.c-box:nth-child(3) {
  margin-right: 0;
}

.c-box__num {
  text-align: center;
}

.c-box__num img {
  margin-top: -50px;
}

.c-box__txt01 {
  font-size: 3rem;
  line-height: 36px;
  padding-top: 19px;
  text-align: center;
}

.c-box__txt02 {
  margin-left: -20px;
  margin-top: 24px;
}

.c-box__txt03 {
  text-align: center;
  font-size: 1.8rem;
}

.c-box__txt03 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-box__txt03 .u-bigtxt {
  color: #ff1e5b;
  font-size: 3.8rem;
  margin-left: 5px;
  -webkit-box-shadow: inset 0px -11px 1px 0px #ffed5d;
          box-shadow: inset 0px -11px 1px 0px #ffed5d;
}

.c-box__txt03 .u-spink {
  font-size: 1.4rem;
  color: #ff1e5b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-box--item1 {
  width: 461px;
  background: #f39800;
  border: 10px solid #f39800;
  -webkit-box-shadow: 0 0 0 1px #fff inset;
          box-shadow: 0 0 0 1px #fff inset;
  color: #fff;
}

.c-box--item1 .c-box__txt01 {
  padding-top: 37px;
  position: relative;
}

.c-box--item1 .c-box__txt01:before, .c-box--item1 .c-box__txt01:after {
  content: '';
  position: absolute;
  top: 8px;
}

.c-box--item1 .c-box__txt01:before {
  background: url(/assets/image/index/star-left.png) no-repeat;
  width: 48px;
  height: 50px;
  margin-left: -40px;
}

.c-box--item1 .c-box__txt01:after {
  background: url(/assets/image/index/star-right.png) no-repeat;
  width: 43px;
  height: 53px;
  right: 22px;
}

.c-box--item1 .c-box__txt02 {
  margin-top: 40px;
  font-size: 2rem;
}

.c-box--item1 .c-box__txt03 {
  padding: 23px 0 0 10px;
}

.c-box--item1 .c-box__txt03--01 {
  font-size: 1.8rem;
}

.c-box--item1 .c-box__txt03--01:before, .c-box--item1 .c-box__txt03--01:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 20px;
  border: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.c-box--item1 .c-box__txt03--01:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  border-left: 3px dotted #fff;
  margin-right: 5px;
}

.c-box--item1 .c-box__txt03--01:after {
  border-right: 3px dotted #fff;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  margin-left: 6px;
}

.c-box--item1 .c-box__txt03--02 {
  margin: -3px 0 0 5px;
  font-size: 3.8rem;
}

.c-box--item3 .c-box__txt03 {
  padding-top: 31px;
}

/*------------------------------------------------------------
	index
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-index .p-note {
  background: url(/assets/image/index/bulletin-board.png) no-repeat;
  width: 588px;
  height: 917px;
  position: absolute;
  z-index: 0;
  top: 600px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .p-index .p-note {
    width: 100%;
    height: auto;
    background: #33c49d;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    position: relative;
    top: 0;
    padding: 30px 20px;
    text-align: center;
  }
  .p-index .p-note:before {
    content: "";
    position: absolute;
    background: url(/assets/image/index/bulletin-board_sp01.png) left no-repeat;
    width: 100%;
    height: 40px;
    left: 0;
    top: -40px;
    display: block;
    -webkit-background-size: 100% 40px;
            background-size: 100% 40px;
  }
  .p-index .p-note:after {
    content: "";
    position: absolute;
    background: url(/assets/image/index/bulletin-board_sp02.png) right no-repeat;
    width: 100%;
    height: 40px;
    right: 0;
    bottom: -40px;
    display: block;
    -webkit-background-size: 100% 40px;
            background-size: 100% 40px;
  }
}

.p-index .p-note__title {
  font-size: 6rem;
  padding: 123px 0 0 75px;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 767px) {
  .p-index .p-note__title {
    font-size: 3rem;
    padding: 0;
  }
}

.p-index .p-note__cont {
  margin-top: 2px;
}

.p-index .p-note__cont p {
  font-size: 3rem;
  position: relative;
  padding-left: 129px;
}

.p-index .p-note__cont p:before {
  content: '';
  background: url(/assets/image/index/loa.png) no-repeat;
  width: 34px;
  height: 30px;
  position: absolute;
  top: 10px;
  margin-left: -50px;
}

@media screen and (max-width: 767px) {
  .p-index .p-note__cont {
    margin-top: 0;
  }
  .p-index .p-note__cont p {
    font-size: 1.6rem;
    padding: 10px;
  }
}

.p-index .p-index01 {
  background: url(/assets/image/index/bg01.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 130px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index01 {
    height: auto;
    padding-bottom: 50px;
  }
}

.p-index .p-index01__cont {
  margin-top: 100px;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .p-index .p-index01__cont {
    width: 100%;
    display: flow-root;
    margin-top: 0;
    padding-top: 50px;
  }
}

.p-index .p-index01__cont .c-box01 img, .p-index .p-index01__cont .c-box02 img, .p-index .p-index01__cont .c-box03 img {
  width: 100%;
}

.p-index .p-index01__cont .c-box02 {
  width: calc(50% - 5px);
  margin-right: 10px;
  float: left;
}

.p-index .p-index01__cont .c-box03 {
  width: calc(50% - 5px);
  float: right;
}

.p-index .p-index01__btn {
  margin-top: 36px;
  text-align: center;
  z-index: 999;
  position: relative;
}

.p-index .p-index01__btn a {
  width: 480px;
  line-height: 80px;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  background: #ff1e5b;
  display: inline-block;
  border-radius: 50px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index01__btn a {
    width: 100%;
    font-size: 1.2rem;
    line-height: 50px;
  }
}

.p-index .p-index01__btn a:before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 38px 0 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .p-index .p-index01__btn a:before {
    margin: 0 17px 0 0;
  }
}

.p-index .p-index01__btn a:hover {
  background: #ff5684;
}

.p-index .p-index02 {
  padding: 119px 0 200px 0;
  background: url(/assets/image/index/bg04.png) no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 767px) {
  .p-index .p-index02 {
    padding: 50px 0 70px 0;
    background: url(/assets/image/index/bg04_sp.png) no-repeat;
    background-position: bottom left;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
  .p-index .p-index02 .c-title01 img {
    max-width: 50%;
  }
  .p-index .p-index02 .l-container {
    padding: 0;
  }
}

.p-index .p-index02__ttl {
  height: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #10222b;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index02__ttl {
    height: auto;
    font-size: 1.6rem;
    padding: 10px 0;
  }
}

.p-index .p-index02__cont {
  width: 100%;
  border: 1px solid #c8c8c8;
  border-top: none;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index02__cont {
    border: none;
    margin-bottom: 0;
  }
}

.p-index .p-index02__cont--img {
  width: 1070px;
  margin: 30px auto 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index .p-index02__cont--img .u-lf {
  padding-right: 80px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index02__cont--img {
    width: 100%;
    margin: 0;
    display: table;
    text-align: center;
    padding: 20px 20px 30px 20px;
  }
  .p-index .p-index02__cont--img .u-lf {
    padding-right: 15px;
  }
  .p-index .p-index02__cont--img .img-item {
    width: 50%;
    display: inline-block;
  }
}

.p-index .p-index02__tbl table {
  width: 100%;
  color: #3c3c3c;
  font-weight: 600;
  font-family: '小塚ゴシック Pro L','Kozuka Gothic Pro Light',sans-serif;
}

.p-index .p-index02__tbl table, .p-index .p-index02__tbl th, .p-index .p-index02__tbl td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.p-index .p-index02__tbl th, .p-index .p-index02__tbl td {
  width: 280px;
  padding: 12px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 24px;
}

.p-index .p-index02__tbl th:nth-child(1), .p-index .p-index02__tbl td:nth-child(1) {
  width: 580px;
  padding-left: 30px;
  text-align: left;
  position: relative;
}

.p-index .p-index02__tbl th:nth-child(1) .col1, .p-index .p-index02__tbl td:nth-child(1) .col1 {
  width: 225px;
  float: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.p-index .p-index02__tbl th:nth-child(1) .col2, .p-index .p-index02__tbl td:nth-child(1) .col2 {
  width: 310px;
  float: right;
}

.p-index .p-index02__tbl table tr:nth-child(even) {
  background-color: #fff;
}

.p-index .p-index02__tbl table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.p-index .p-index02__tbl table th {
  padding: 11px 0;
  background-color: #dddddd;
}

.p-index .p-index02 .p02-accodition {
  width: 100%;
}

.p-index .p-index02 .p02-accodition__item {
  color: #3c3c3c;
}

.p-index .p-index02 .p02-accodition__button {
  width: 100%;
  background: none;
  cursor: pointer;
  padding: 10px 40px 10px 20px;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.p-index .p-index02 .p02-accodition__button:after {
  content: '\002B';
  font-weight: normal;
  color: #0080ae;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-index .p-index02 .p02-accodition__button p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
}

.p-index .p-index02 .p02-accodition__button span {
  color: #999999;
  padding-left: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
}

.p-index .p-index02 .p02-accodition .p02-accodition-active:after {
  content: "\2212";
}

.p-index .p-index02 .p02-accodition__panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 1.2rem;
}

.p-index .p-index02 .p02-accodition__panel .ac-row {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  display: table;
}

.p-index .p-index02 .p02-accodition__panel .ac-row:last-child {
  border-bottom: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition__panel .ac-row .ac-row__left {
  width: 46.42%;
  padding: 10px;
  font-weight: bold;
  background: #fbfbfb;
  display: table-cell;
  border-right: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition__panel .ac-row .ac-row__right {
  display: table-cell;
  padding: 10px;
}

.p-index .p-index02 .p02-accodition .p02-acodition-show {
  opacity: 1;
  max-height: 100%;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.p-index .p-index02 .p02-accodition .p02-acodition-hide {
  opacity: 0;
  max-height: 0;
  -webkit-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
  padding: 0;
}

.p-index .p-index02__txt {
  padding-top: 23px;
  font-size: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.p-index .p-index02__txt--greem {
  background: #33c49d;
  color: #fff;
  padding: 4px 17px 4px 20px;
  margin: -5px 13px 0 0;
}

.p-index .p-index02__txt--blue {
  background: #0080ae;
  color: #fff;
  padding: 4px 20px 4px 15px;
  margin: -5px 14px 0 20px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index02__txt {
    display: block;
    font-size: 1.2rem;
    padding: 17px 20px;
  }
  .p-index .p-index02__txt--greem, .p-index .p-index02__txt--blue {
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
  }
  .p-index .p-index02__txt .text {
    padding: 10px;
  }
}

.p-index .p-index02 .u-red {
  color: #ff1e5b;
}

.p-index .p-index02 .u-strikethrough {
  position: relative;
  display: inline-block;
}

.p-index .p-index02 .u-strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: #ff1e5b;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.p-index .p-index03 {
  background: url(/assets/image/index/bg03.png) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 561px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03 {
    background: url(/assets/image/index/bg03_sp.png) top center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    height: auto;
  }
}

.p-index .p-index03__txt01 {
  font-size: 3.2rem;
  padding-top: 90px;
  margin-left: 40px;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__txt01 {
    font-size: 1.6rem;
    padding-top: 51px;
    margin: 0;
  }
}

.p-index .p-index03__txt02 {
  margin: 6px 0 0 45px;
  font-size: 6.4rem;
  font-family: 'Roboto', sans-serif;
}

.p-index .p-index03__txt02 span {
  font-size: 4.8rem;
  margin-left: 12px;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__txt02 {
    margin: 6px 0 0 0;
    font-size: 3.5rem;
    padding-top: 25px;
  }
  .p-index .p-index03__txt02 span {
    font-size: 2.8rem;
  }
}

.p-index .p-index03__txt03 {
  font-size: 1.8rem;
  line-height: 27px;
  padding-top: 35px;
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__txt03 {
    padding-top: 15px;
    margin: 0;
  }
}

.p-index .p-index03__grbtn {
  width: 890px;
  margin: 23px auto 0;
  overflow: hidden;
}

.p-index .p-index03__grbtn .col2 {
  display: -ms-inline-grid;
  display: inline-grid;
  margin-left: 35px;
}

.p-index .p-index03__grbtn a {
  width: 420px;
  text-align: center;
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50px;
  background: #706e5e;
  opacity: 0.8;
}

.p-index .p-index03__grbtn a:hover {
  color: #000;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__grbtn {
    width: 100%;
  }
  .p-index .p-index03__grbtn a {
    width: 98%;
  }
  .p-index .p-index03__grbtn .col2 {
    width: 98%;
    margin: 10px auto 0;
  }
}

.p-index .p-index03__btn01 {
  width: 425px;
  float: left;
  font-size: 2.1rem;
  line-height: 90px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn01 {
    width: 95% !important;
    font-size: 1.4rem;
    line-height: 50px;
    padding-left: 10px;
  }
}

.p-index .p-index03__btn01:before {
  position: absolute;
  content: "";
  background: url(/assets/image/index/icon01.png) no-repeat;
  width: 19px;
  height: 20px;
  top: 40%;
  margin-left: -30px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn01:before {
    top: 32%;
    -webkit-background-size: 80% 80%;
            background-size: 80%;
    margin-left: -20px;
  }
}

.p-index .p-index03 .p-index03__btn01:hover:before {
  background: url(/assets/image/index/icon01_hover.png) no-repeat;
}

.p-index .p-index03__btn02 {
  padding: 18px 0 12px 0;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn02 {
    padding: 9px 0 6px 0;
  }
}

.p-index .p-index03__btn02 .btnText {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn02 .btnText {
    font-size: 1.4rem;
  }
}

.p-index .p-index03__btn02 .btnNum {
  font-size: 2.7rem;
  margin: -3px 0 0 30px;
  display: inline-block;
  position: relative;
  letter-spacing: 0.1;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn02 .btnNum {
    font-size: 1.3rem;
    margin: 0 0 0 10px;
  }
}

.p-index .p-index03__btn02 .btnNum:before {
  position: absolute;
  content: "";
  background: url(/assets/image/index/icon02.png) no-repeat;
  width: 19px;
  height: 19px;
  top: 30%;
  margin-left: -27px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__btn02 .btnNum:before {
    top: 10%;
    -webkit-background-size: 80% 80%;
            background-size: 80%;
    margin-left: -20px;
  }
}

.p-index .p-index03__btn02 .btnNum:hover:before {
  background: url(/assets/image/index/icon02_hover.png) no-repeat;
}

.p-index .p-index03__txt04 {
  font-size: 1.3rem;
  display: inline-block;
  padding-top: 13px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index03__txt04 {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 45px;
  }
}

.p-index .p-index04 {
  padding: 119px 0 110px 0;
  background: url(/assets/image/index/bg05.png) no-repeat;
  background-position: top left;
  font-family: 'Noto Sans', sans-serif;
}

@media screen and (max-width: 767px) {
  .p-index .p-index04 {
    padding: 60px 0 54px 0;
    background: url(/assets/image/index/bg05_sp.png) no-repeat;
    background-position: top right;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
}

.p-index .p-index04__block {
  width: 1000px;
  margin: 0 auto 120px;
  padding: 30px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.p-index .p-index04__block .colLeft {
  width: 272px;
  float: left;
  display: inline-block;
}

.p-index .p-index04__block .colRight {
  padding-left: 30px;
  color: #3c3c3c;
  display: table;
}

.p-index .p-index04__block .colRight__txt01 {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 5px;
}

.p-index .p-index04__block .colRight__txt02 {
  font-size: 1.5rem;
  line-height: 22px;
  padding: 8px 0 17px 0;
}

.p-index .p-index04__block .colRight__list {
  background: #f0f0f0;
  padding: 22px 28px 19px 28px;
}

.p-index .p-index04__block .colRight__list li {
  list-style: disc;
  list-style-position: inside;
  color: #33c49d;
  font-size: 2rem;
}

.p-index .p-index04__block .colRight__list li span {
  color: #3c3c3c;
  margin-left: -8px;
  font-size: 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .p-index .p-index04__block {
    width: 100%;
    padding: 15px;
    margin: 0 auto 50px;
  }
  .p-index .p-index04__block .colLeft {
    width: 100%;
    float: none;
    text-align: center;
  }
  .p-index .p-index04__block .colRight {
    padding: 0;
    display: block;
  }
  .p-index .p-index04__block .colRight__txt01 {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 17px;
  }
  .p-index .p-index04__block .colRight__txt02 {
    font-size: 1.2rem;
    padding: 14px 0 30px 0;
  }
  .p-index .p-index04__block .colRight__list {
    width: 100%;
    padding: 15px 20px;
  }
  .p-index .p-index04__block .colRight__list li span {
    display: inline;
    font-size: 1.2rem;
  }
}

.p-index .p-index04__slide .slider-nav img {
  width: 270px;
  height: 205px;
  margin-right: 20px;
}

.p-index .p-index04__cont {
  width: 100%;
  overflow: hidden;
}

.p-index .p-index04__cont .p04-imgList {
  width: calc(50% - 10px);
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.p-index .p-index04__cont .p04-imgList:nth-child(2n) {
  margin-right: 0;
}

.p-index .p-index04__cont .p04-imgList img {
  width: 100%;
}

.p-index .p-index05 {
  width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 135px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index05 {
    width: 100%;
    padding: 0 20px 40px;
  }
}

.p-index .p-index05__title {
  padding-left: 240px;
  font-size: 56px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index05__title {
    font-size: 28px;
    text-align: center;
    padding: 0;
  }
}

.p-index .p-index05__map {
  width: 1100px;
  float: left;
}

.p-index .p-index05__map iframe {
  padding-top: 40px;
  width: 1100px;
  height: 480px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index05__map {
    width: 100%;
    float: none;
  }
  .p-index .p-index05__map iframe {
    width: 100%;
    height: 240px;
  }
}

.p-index .p-index05__infor {
  width: 775px;
  height: 417px;
  background: #10222b;
  color: #fff;
  display: inline-block;
  margin: 27px 0 0 30px;
  padding: 85px 0 0 65px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index05__infor {
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    padding: 18px 14px;
  }
}

.p-index .p-index05__infor .infor-item {
  width: 480px;
  display: table;
  font-size: 1.5rem;
  padding: 7px 0;
  border-bottom: 1px solid #636f75;
}

.p-index .p-index05__infor .infor-item__left {
  width: 170px;
  display: table-cell;
}

.p-index .p-index05__infor .infor-item__left img {
  margin: 4px 6px 0 0;
}

@media screen and (max-width: 767px) {
  .p-index .p-index05__infor .infor-item {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: block;
  }
  .p-index .p-index05__infor .infor-item:nth-child(5) {
    border-bottom: none;
  }
  .p-index .p-index05__infor .infor-item__left {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    font-size: 1.4rem;
  }
  .p-index .p-index05__infor .infor-item__left img {
    display: none;
  }
  .p-index .p-index05__infor .infor-item__right {
    font-size: 1.2rem;
  }
}

.p-index .p-index05__bg {
  z-index: -1;
  position: relative;
  top: -265px;
  left: -125px;
}

.p-index .p-index06 {
  background: #eeeeee;
  text-align: center;
  padding: 90px 0 86px 0;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06 {
    padding: 40px 0 35px 0;
  }
}

.p-index .p-index06__title01 {
  color: #310222;
  font-size: 6.4rem;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__title01 {
    font-size: 3.5rem;
  }
}

.p-index .p-index06__title02 {
  color: #666666;
  font-size: 3.2rem;
  color: #666666;
  margin-top: -8px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__title02 {
    font-size: 1.6rem;
  }
}

.p-index .p-index06__cont {
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__cont {
    margin-top: 8px;
  }
}

.p-index .p-index06__cont .infor-item {
  width: 580px;
  margin: 0 auto;
  padding: 10px 0;
  display: table;
  font-size: 1.5rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__cont .infor-item {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    line-height: 20px;
  }
}

.p-index .p-index06__cont .infor-item__date {
  width: 115px;
  display: table-cell;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__cont .infor-item__date {
    width: 100%;
    display: block;
  }
}

.p-index .p-index06__cont .infor-item__ttl a {
  display: table-cell;
  color: #404040;
}

@media screen and (max-width: 767px) {
  .p-index .p-index06__cont .infor-item__ttl a {
    display: block;
  }
}
