/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	position: relative;
	.c-footer01{
		text-align: center;
		background: #33c49d;
		padding: 50px 0 55px 0;
		@include sp{
			padding: 30px 20px;
		}
		&__img:hover{
			opacity: 0.8;
		}
		&__infor{
			color: #fff;
			font-size: 1.5rem;
			line-height: 24px;
			padding-top: 25px;
			@include sp{
				font-size: 1.2rem;
				line-height: 20px;
			}
		}
	}
	.c-footer02{
		line-height: 40px;
		text-align: center;
		font-size: 1.2rem;
		color: #fff;
		background: #3c3c3c;
		font-family: 'Noto Sans', sans-serif;
		@include sp{
			font-size: 1rem;
			line-height: 30px;
		}
	}
	.page-top{
		background: url(/assets/image/common/croll-top.png) no-repeat;
		width: 100px;
		height: 100px;
		position: fixed;
		bottom: 107px;
		right: 80px;
		@include sp{
			background: url(/assets/image/common/croll-top_sp.png) no-repeat;
			width: 50px;
			height: 50px;
			bottom: 32px;
			right: 20px;
		}
	}
}