/*------------------------------------------------------------
header
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-headerPC{
	&__MV{
		background: url(/assets/image/common/MV.png);
		background-size: cover;
		height: 800px;
		@include sp{
			background: url(/assets/image/common/MV_sp.png) no-repeat;
			background-size: cover;
			height: auto;
		}
	}
	&__banner{
		&--01{
			padding: 230px 110px 0 0;
			text-align:right;
		}
		&--02{
			padding-bottom: 207.5px;
			img{
				width: 100%;
			}
		}
		&--03{
			padding: 0 20px 50px 20px;
			img{
				width: 100%;
			}
		}
	}
}