/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
	width: 1440px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		padding: 0 20px;
	}
}