/*------------------------------------------------------------
	index
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-index{
	.p-note{
		background: url(/assets/image/index/bulletin-board.png) no-repeat;
	    width: 588px;
	    height: 917px;
	    position: absolute;
	    z-index: 0;
	    top: 600px;
	    color: #fff;
	    @include sp{
	    	width: 100%;
	    	height: auto;
			background: #33c49d;
			background-size: 100%;
			position: relative;
			top: 0;
			padding: 30px 20px;
			text-align: center;
			&:before{
				content: "";
				position: absolute;
				background: url(/assets/image/index/bulletin-board_sp01.png) left no-repeat;
				width: 100%;
				height: 40px;
				left: 0;
				top: -40px;
				display: block;
				background-size: 100% 40px;
			}
			&:after{
				content: "";
				position: absolute;
				background: url(/assets/image/index/bulletin-board_sp02.png) right no-repeat;
				width: 100%;
				height: 40px;
				right: 0;
				bottom: -40px;
				display: block;
				background-size: 100% 40px;
			}
		}
	    &__title{
	    	font-size: 6rem;
	    	padding: 123px 0 0 75px;
	    	font-weight: bold;
	    	letter-spacing: 4px;
	    	font-family: 'Roboto Condensed', sans-serif;
	    	@include sp{
	    		font-size: 3rem;
	    		padding: 0;
	    	}
	    }
	    &__cont{
	    	margin-top: 2px;
	    	p{
	    		font-size: 3rem;
	    		position: relative;
	    		padding-left: 129px;
	    		&:before{
	    			content: '';
	    			background: url(/assets/image/index/loa.png) no-repeat;
	    			width: 34px;
	    			height: 30px;
	    			position: absolute;
	    			top: 10px;
	    			margin-left: -50px;
	    		}
	    	}
	    	@include sp{
	    		margin-top: 0;
	    		p{
					font-size: 1.6rem;
					padding: 10px;
				}
	    	}
	    }
	}
	.p-index01{
		background: url(/assets/image/index/bg01.png) no-repeat;
		background-size: cover;
		padding-bottom: 130px;
		@include sp{
			height: auto;
			padding-bottom: 50px;
		}
		&__cont{
			margin-top: 100px;
			display: inline-block;
			@include sp{
				width: 100%;
				display: flow-root;
				margin-top: 0;
				padding-top: 50px;
			}
			.c-box01, .c-box02, .c-box03{
				img{ width: 100%;}
			}
			.c-box02, {
				width: calc(50% - 5px);
				margin-right: 10px;
				float: left;
			}
			.c-box03{
				width: calc(50% - 5px);
				float: right;
			}
		}
		&__btn{
			margin-top: 36px;
			text-align: center;
			z-index: 999;
    		position: relative;
			a{
				width: 480px;
				line-height: 80px;
				font-size: 1.8rem;
				text-align: center;
				color: #fff;
				background: #ff1e5b;
				display: inline-block;
				border-radius: 50px;
				@include sp{
					width: 100%;
					font-size: 1.2rem;
					line-height: 50px;
				}
				&:before{
					display: inline-block;
					content: "";
					width: 10px;
					height: 10px;
					border:0;
					border-top: 1px solid #fff;
					border-right: 1px solid #fff;
					transform: rotate(45deg);
					margin: 0 38px 0 0;
					transition: 0.3s ease-in-out;
					@include sp{
						margin: 0 17px 0 0;
					}
				}
				&:hover{
					background: #ff5684;
				}
			}
		}
	}
	.p-index02{
		padding: 119px 0 200px 0;
		background: url(/assets/image/index/bg04.png) no-repeat;
		background-position: bottom right;
		@include sp{
			padding: 50px 0 70px 0;
			background: url(/assets/image/index/bg04_sp.png) no-repeat;
			background-position: bottom left;
			background-size: 100%;
			.c-title01 img {
			    max-width: 50%;
			}
			.l-container{
				padding: 0;
			}
		}
		&__ttl{
			height:50px;
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
			color: #fff;
			background: #10222b;
			padding-top: 10px;
			@include sp{
				height: auto;
				font-size: 1.6rem;
				padding: 10px 0;
			}
		}
		&__cont{
			width: 100%;
			border: 1px solid #c8c8c8;
			border-top: none;
			margin-bottom: 40px;
			@include sp{
				border: none;
				margin-bottom: 0;
			}
			&--img{
				width: 1070px;
				margin: 30px auto 28px;
    			display: flex;
				.u-lf{
					padding-right: 80px;
				}
				@include sp{
					width: 100%;
					margin: 0;
					display: table;
					text-align: center;
					padding: 20px 20px 30px 20px;
					.u-lf{
						padding-right: 15px;
					}
					.img-item{
						width: 50%;
						display: inline-block;
					}
				}
			}
		}
		&__tbl{
			table {
			    width:100%;
			    color: #3c3c3c;
			    font-weight: 600;
			    font-family: '小塚ゴシック Pro L','Kozuka Gothic Pro Light',sans-serif;
			}
			table, th, td {
			    border: 1px solid #dddddd;
			    border-collapse: collapse;
			}
			th, td {
				width: 280px;
			    padding: 12px;
			    text-align: center;
			    font-size: 1.5rem;
			    line-height: 24px;
			    &:nth-child(1){
			    	width: 580px;
			    	padding-left:30px;
    				text-align: left;
    				position: relative;
    				.col1{
    					width: 225px;
    					float:left;
    					position: absolute;
    					top: 50%;
    					transform: translate(0, -50%);
    				}
    				.col2{
					    width: 310px;
					    float: right;
    				}
			    }
			}
			table tr:nth-child(even) {
			    background-color: #fff;
			}
			table tr:nth-child(odd) {
			   background-color: #f8f8f8;
			}
			table th {
				padding: 11px 0;
			    background-color: #dddddd;
			}
		}
		.p02-accodition{
			width: 100%;
			&__item{
				color: #3c3c3c;
			}
			&__button{
				width: 100%;
				background: none;
				cursor: pointer;
				padding: 10px 40px 10px 20px;
				text-align: left;
				outline: none;
				border: none;
				border-bottom: 1px solid #ddd;
				font-size: 1.8rem;
				font-weight: bold;
				transition: 0.4s;
				position: relative;
				&:after{
					content: '\002B';
					font-weight: normal;
					color: #0080ae;
					position: absolute;
					right: 18px;
					top: 50%;
					transform: translateY(-50%);
				}
				p{
					display: flex;
				    justify-content: center;
				    align-items: center;
				    float: left;
				}
				span{
					color: #999999;
					padding-left: 15px;
					display: inline-flex;
					font-size: 1rem;
				}
			}
			.p02-accodition-active{
				&:after{
					content: "\2212";
				}
			}
			&__panel {
				max-height: 0;
				overflow: hidden;
				opacity: 0;
				font-size: 1.2rem;
				.ac-row{
					width: 100%;
					border: 1px solid #ddd;
					border-bottom: none;
					display: table;
					&:last-child{
						border-bottom: 1px solid #ddd;
					}
					.ac-row__left{
						width:46.42%;
						padding: 10px;
						font-weight: bold;
						background: #fbfbfb;
						display: table-cell;
						border-right: 1px solid #ddd;
					}
					.ac-row__right{
						display: table-cell;
						padding: 10px;
					}

				}
			}
			.p02-acodition-show {
			  	opacity: 1;
				max-height: 100%;
				transition: max-height 0.4s ease-out;
				padding: 20px;
				border-bottom: 1px solid #ddd;
			}
			.p02-acodition-hide {
				opacity: 0;
				max-height: 0;
				transition: max-height 0.4s ease-out;
				padding: 0;
			}
		}

		&__txt{
			padding-top: 23px;
			font-size: 1.5rem;
			display: inline-flex;
			&--greem{
				background: #33c49d;
				color: #fff;
				padding: 4px 17px 4px 20px;
				margin: -5px 13px 0 0;
			}
			&--blue{
				background: #0080ae;
				color: #fff;
				padding: 4px 20px 4px 15px;
				margin: -5px 14px 0 20px;
			}
			@include sp{
				display: block;
				font-size: 1.2rem;
				padding: 17px 20px;
				&--greem, &--blue{
					margin: 0;
					text-align: center;
					font-size: 1.3rem;
					padding: 10px;
				}
				.text{
					padding: 10px;
				}
			}
		}

		.u-red{color: #ff1e5b; }
		.u-strikethrough {
		  	position: relative;
		  	display: inline-block;
			&:before {
			  	position: absolute;
			  	content: "";
			  	left: 0;
			  	top: 50%;
			  	right: 0;
			  	border-top: 1px solid;
			  	border-color: #ff1e5b;
			  	transform:rotate(-5deg);
			}
		}
	}
	.p-index03{
		background: url(/assets/image/index/bg03.png) center no-repeat;
		background-size: cover;
		height: 561px;
		text-align: center;
		color: #fff;
		@include sp{
			background: url(/assets/image/index/bg03_sp.png) top center no-repeat;
			background-size: cover;
			height: auto;
		}
		&__txt01{
			font-size: 3.2rem;
			padding-top: 90px;
			margin-left: 40px;
			font-weight: bold;
			font-family: 'Noto Sans', sans-serif;
			@include sp{
				font-size: 1.6rem;
				padding-top: 51px;
				margin: 0;
			}
		}
		&__txt02{
			margin: 6px 0 0 45px;
			font-size: 6.4rem;
			font-family: 'Roboto', sans-serif;
			span{
				font-size: 4.8rem;
				margin-left: 12px;
				font-family: 'Noto Sans', sans-serif;
			}
			@include sp{
				margin: 6px 0 0 0;
				font-size: 3.5rem;
				padding-top: 25px;
				span{
					font-size: 2.8rem;
				}
			}
		}
		&__txt03{
			font-size: 1.8rem;
			line-height: 27px;
			padding-top: 35px;
			margin-left: 70px;
			@include sp{
				padding-top: 15px;
				margin: 0;
			}
		}
		&__grbtn{
			width: 890px;
			margin: 23px auto 0;
			overflow: hidden;
			.col2{
				display: inline-grid;
				margin-left: 35px;
			}
			a{
				width: 420px;
				text-align: center;
				color: #fff;
				display: inline-block;
				border: 1px solid #fff;
				border-radius: 50px;
				background: #706e5e;
				opacity: 0.8;
				&:hover{
					color: #000;
					background: #fff;
				}
			}
			@include sp{
				width: 100%;
				a{
					width: 98%;
				}
				.col2{
					width: 98%;
					margin: 10px auto 0;
				}

			}
		}
		&__btn01{
			width: 425px;
			float: left;
			font-size: 2.1rem;
			line-height: 90px;
			position: relative;
			@include sp{
				width: 95% !important;
				font-size: 1.4rem;
				line-height: 50px;
				padding-left: 10px;
			}
			&:before{
				position: absolute;
			  	content: "";
			  	background: url(/assets/image/index/icon01.png) no-repeat;
			  	width: 19px;
			  	height: 20px;
			  	top: 40%;
			  	margin-left: -30px;
			  	@include sp{
			  		top: 32%;
    				background-size: 80%;
    				margin-left: -20px;
			  	}
			}
		}
		.p-index03__btn01:hover{
			&:before{
			  	background: url(/assets/image/index/icon01_hover.png) no-repeat;
			}
		}
		&__btn02{
			padding: 18px 0 12px 0;
			@include sp{
		  		padding: 9px 0 6px 0;
		  	}
			.btnText{
				font-size: 1.5rem;
				@include sp{
			  		font-size: 1.4rem;
			  	}
			}
			.btnNum{
				font-size: 2.7rem;
				margin: -3px 0 0 30px;
				display: inline-block;
				position: relative;
				letter-spacing: 0.1;
				@include sp{
			  		font-size: 1.3rem;
			  		margin: 0 0 0 10px;
			  	}
				&:before{
					position: absolute;
				  	content: "";
				  	background: url(/assets/image/index/icon02.png) no-repeat;
				  	width: 19px;
				  	height: 19px;
				  	top: 30%;
				  	margin-left: -27px;
				  	@include sp{
				  		top: 10%;
	    				background-size: 80%;
	    				margin-left: -20px;
				  	}
				}
			}
			.btnNum:hover{
				&:before{
				  	background: url(/assets/image/index/icon02_hover.png) no-repeat;
				}
			}
		}
		&__txt04{
			font-size: 1.3rem;
			display: inline-block;
			padding-top: 13px;
			@include sp{
				font-size: 1rem;
				padding-top: 10px;
				padding-bottom: 45px;
			}
		}
	}
	.p-index04{
		padding: 119px 0 110px 0;
		background: url(/assets/image/index/bg05.png) no-repeat;
		background-position: top left;
		font-family: 'Noto Sans', sans-serif;
		@include sp{
			padding: 60px 0 54px 0;
			background: url(/assets/image/index/bg05_sp.png) no-repeat;
			background-position: top right;
			background-size: 100%;
		}
		&__block{
			width: 1000px;
			margin: 0 auto 120px;
			padding: 30px;
			border: 1px solid #ddd;
			overflow: hidden;
			.colLeft{
				width: 272px;
				float: left;
				display: inline-block;
			}
			.colRight{
				padding-left: 30px;
				color: #3c3c3c;
				display: table;
				&__txt01{
					font-size: 1.8rem;
					font-weight: bold;
					padding-top: 5px;
				}
				&__txt02{
					font-size: 1.5rem;
					line-height: 22px;
					padding: 8px 0 17px 0;
				}
				&__list{
					background: #f0f0f0;
					padding: 22px 28px 19px 28px;
					li{
						list-style: disc;
    					list-style-position: inside;
    					color: #33c49d;
    					font-size: 2rem;
    					span{
    						color: #3c3c3c;
    						margin-left: -8px;
    						font-size: 1.5rem;
    						display: inline-flex;
    					}
					}
				}
			}
			@include sp{
				width: 100%;
				padding: 15px;
				margin: 0 auto 50px;
				.colLeft{
					width: 100%;
					float: none;
					text-align: center;
				}
				.colRight{
					padding: 0;
					display: block;
					&__txt01{
						text-align: center;
						font-size: 1.6rem;
						padding-top: 17px;
					}
					&__txt02{
						font-size: 1.2rem;
						padding: 14px 0 30px 0;
					}
					&__list{
						width: 100%;
						padding: 15px 20px;
						li{
							span{
								display: inline;
								font-size: 1.2rem;
							}
						}
					}

				}
			}
		}
		&__slide{
			.slider-nav{
				img{
					width: 270px;
					height: 205px;
					margin-right: 20px;
				}
			}
		}
		&__cont{
			width: 100%;
			overflow: hidden;
			.p04-imgList{
				width: calc(50% - 10px);
				float: left;
				margin-right:10px;
				margin-bottom: 10px;
				&:nth-child(2n){
					margin-right:0;
				}
				img{
					width: 100%;
				}
			}
		}
	}
	.p-index05{
		width: 1920px;
		margin: 0 auto;
		overflow: hidden;
		padding-bottom: 135px;
		@include sp{
			width: 100%;
			padding: 0 20px 40px;
		}
		&__title{
			padding-left: 240px;
			font-size: 56px;
			@include sp{
				font-size: 28px;
				text-align: center;
				padding:0;
			}
		}
		&__map{
			width: 1100px;
			float: left;
			iframe{
				padding-top: 40px;
				width: 1100px;
				height: 480px;
			}
			@include sp{
				width: 100%;
				float: none;
				iframe{
					width: 100%;
					height: 240px;
				}
			}
		}
		&__infor{
			width: 775px;
			height: 417px;
			background: #10222b;
			color: #fff;
			display: inline-block;
			margin: 27px 0 0 30px;
			padding: 85px 0 0 65px;
			@include sp{
				width: 100%;
				height: auto;
				margin: 0;
				float: none;
				padding: 18px 14px;
			}
			.infor-item{
				width: 480px;
				display: table;
				font-size: 1.5rem;
				padding: 7px 0;
				border-bottom: 1px solid #636f75;
				&__left{
					width: 170px;
					display: table-cell;
					img{
						margin: 4px 6px 0 0;
					}
				}
				@include sp{
					width: 100%;
					padding: 10px 0;
					text-align: center;
					display: block;
					&:nth-child(5){
						border-bottom: none;
					}
					&__left{
						width: 100%;
						display: block;
						padding-bottom: 10px;
						font-size: 1.4rem;
						img{
							 display: none;
						}
					}
					&__right{
						font-size: 1.2rem;
					}
				}
			}
		}
		&__bg{
			z-index: -1;
		    position: relative;
		    top: -265px;
		    left: -125px;
		}
	}
	.p-index06{
		background: #eeeeee;
		text-align: center;
		padding: 90px 0 86px 0;
		@include sp{
			padding: 40px 0 35px 0;
		}
		&__title01{
			color: #310222;
			font-size: 6.4rem;
			font-family: 'Roboto', sans-serif;
			@include sp{
				font-size: 3.5rem;
			}
		}
		&__title02{
			color: #666666;
			font-size: 3.2rem;
			color: #666666;
			margin-top: -8px;
			@include sp{
				font-size: 1.6rem;
			}

		}
		&__cont{
			margin-top: 32px;
			@include sp{
				margin-top: 8px;
			}
			.infor-item{
				width: 580px;
				margin: 0 auto;
				padding: 10px 0;
				display: table;
				font-size: 1.5rem;
				text-align: left;
				@include sp{
					width: 100%;
					font-size: 1.2rem;
					text-align: center;
					display: block;
					line-height: 20px;
				}
				&__date{
					width: 115px;
					display: table-cell;
					@include sp{
						width: 100%;;
						display: block;
					}
				}
				&__ttl{
					a{
						display: table-cell;
						color: #404040;
						@include sp{
							display: block;
						}
					}
				}
			}
		}
	}
}