/*------------------------------------------------------------
title
------------------------------------------------------------*/

/* TITLE PAGE-TOP
------------------------------------------------------------*/
.c-title01{
	text-align: center;
	padding-bottom: 50px;
	@include sp{
		padding-bottom: 25px;
		img{
			width: 80%;
		}
	}
}