/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-nav{
	overflow: hidden;
	ul{
		display: inline-flex;
		float: right;
		line-height: 96px;
		padding-right: 10px;
		li{
			a{
				font-size: 1.8rem;
				color: #3c3c3c;
				cursor: pointer;
				padding: 20px 35px;
				position: relative;
				&:before{
					content: "";
					background: url(/assets/image/common/narrow_down.png);
					width: 15px;
					height: 9px;
					position: absolute;
					left: 11px;;
					top: 45%;
				}
			}

		}
	}
}
