/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*c-box page index
------------------------------------------------------------*/
.c-box{
	float: left;
	width: 461px;
	height:360px;
	background: #fff;
	border: 10px solid #fff;
	box-shadow: 0 0 0 1px #c8c8c8 inset;
	position: relative;
	margin-right: 28px;
	color: #3c3c3c;
	&:nth-child(3){
		margin-right: 0;
	}
	&__num{
		text-align: center;
		img{
			margin-top: -50px;
		}
	}
	&__txt01{
		font-size: 3rem;
		line-height: 36px;
		padding-top:19px;
		text-align: center;
	}
	&__txt02{
		margin-left: -20px;
		margin-top: 24px;
	}
	&__txt03{
		text-align: center;
		font-size: 1.8rem;
		p{
		    display: flex;
		    justify-content: center;
    		align-items: center;
		}
		.u-bigtxt{
			color: #ff1e5b;
			font-size: 3.8rem;
			padding-left: 5px;
			box-shadow: inset 0px -14px 1px 0px #ffed5d;
		}
		.u-spink{
			font-size: 1.4rem;
			color: #ff1e5b;
			box-shadow: none;
		}
	}
	&--item1{
		width: 461px;
		background: #f39800;
		border: 10px solid #f39800;
		box-shadow: 0 0 0 1px #fff inset;
		color: #fff;
		.c-box__txt01{
			padding-top: 37px;
			position: relative;
			&:before, &:after{
				content: '';
				position: absolute;
				top: 8px;
			}
			&:before{
				background: url(/assets/image/index/star-left.png) no-repeat;
				width: 48px;
				height: 50px;
				margin-left: -40px;
			}
			&:after{
				background: url(/assets/image/index/star-right.png) no-repeat;
				width: 43px;
				height: 53px;
				right: 22px;
			}
		}
		.c-box__txt02{
			margin-top: 40px;
			font-size: 2rem;
		}
		.c-box__txt03{
			padding: 23px 0 0 10px;
			&--01{
				font-size: 1.8rem;
				&:before,&:after{
					display: inline-block;
					content: "";
					width: 10px;
					height: 20px;
					border:0;
					transition: 0.3s ease-in-out;
				}
				&:before{
					transform: rotate(-40deg);
					border-left: 3px dotted #fff;
					margin-right: 5px;
				}
				&:after{
					border-right: 3px dotted #fff;
					transform: rotate(40deg);
					margin-left: 6px;
				}
			}
			&--02{
				margin: -3px 0 0 5px;
				font-size: 3.8rem;
			}
		}
	}
	&--item2{
		
	}
	&--item3{
		.c-box__txt03{
			padding-top: 31px;
		}
	}
}